.card-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 8%;
  right: 0.5vw;
  left: 18vw;
  width: 81vw;
  height: 91vh;
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

.quesiton-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 11rem 10vw 2.2rem;
  gap: 0.5rem;
}

.star-wrapper {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.star1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  background: #fff;
}

.star1_star {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  transform: rotate(-25deg);
  z-index: 2;
  top: 0;
  left: 1rem;
}

.q {
  color: #45624e;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  white-space: nowrap;
  margin: 0;
}

.star2 {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-15deg);
  margin-top: -2.5rem;
  margin-left: -0.6rem;
}

.star3 {
  width: 1rem;
  height: 1rem;
  margin-top: -4rem;
  margin-left: -0.8rem;
}

.progress {
  display: flex;
  align-items: center;
}

.step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #e4e6d9;
  color: #45624e;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 7rem; /* 동그라미 + 라인 포함 전체 간격 */
}

.step:last-child {
  margin-right: 0; /* 마지막 원은 간격 제거 */
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 0.9375rem); /* 원과 라인 사이 15px 간격 */
  width: calc(
    7rem - 1.875rem
  ); /* 전체 간격 7rem에서 양쪽 간격 0.9375rem × 2 제외 */
  height: 0.2rem;
  background-color: #e0e5dc;
  transform: translateY(-50%);
  z-index: 0;
}
.step.done:not(:last-child)::after {
  background-color: #45624e;
}
.step.done {
  background-color: #45624e;
  color: #fff;
  font-size: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.step.current {
  background-color: #45624e;
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.question-box {
  display: flex;
  width: 56vw;
  padding: 2rem 7rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.625rem;
  border: 1px solid #45624e;
  margin: 2rem auto 0;
}

.Q1 {
  color: #45624e;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.btn {
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
}

.option-btn {
  width: 43vw;
  padding: 0.8rem 0.8rem;
  border-radius: 0.8rem;
  background: #f3f4ec;
  border: none;
  color: #45624e;
  font-family: "Pretendard Variable";
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
