.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1.5rem auto 0rem auto;
  gap: 16rem;
}

.next-btn,
.before-btn {
  max-width: 100px;
  width: 33vw;
  max-height: 50px;
  height: 6vh;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.next-btn {
  background: #45624e;
  color: #fff;
}

.before-btn {
  background: #e4e6d9;
  color: #45624e;
}
.next-btn:hover {
  background-color: #324638;
}
.q1-page .before-btn {
  visibility: hidden;
}
